$background-dark: #0d1117;
$color-dark: #8b949e;
$link-dark: #58a7ff;
$background-title-dark: #292b2e;
$background-main-login-dark: #292b2ecc;
$black: #000000;
$box-shadow: #58a6ff5e;
$logout: #aa0000;